.create_quiz_main_area_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.create_quiz_main_area_inner_container {
  text-align: center;
  margin-bottom: 20px;
}

.create_quiz_main_area_question_textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.create_quiz_main_area_textarea {
  width: 300px;
  height: 50px;
  text-align: center;
  background-color: #ffffff40;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
}

.create_quiz_main_area_question_options{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.create_quiz_main_area_option {
  text-align: center;
  width: 200px;
  height: 50px;
  text-align: center;
  background-color: #ffffff40;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  margin: 10px;
}

.create_quiz_main_area_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.sidebar_box {
  margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    color: white;
}
.create_quiz_data{
  margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.create_quiz_data p{
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin: 10px;
}
.create_quiz_data input{
  text-align: center;
  max-width: 50px;
  max-height: 30px;
  text-align: center;
  background-color: #ffffff40;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin: 10px;
}
.sidebar_add_quiz_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;

}

.add_quiz_button{
  background-color: #007bff;
  color: #fff;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bolder;
}
.create_quiz_main_area_sidebar_seperator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.create_quiz_filler {
  flex: 1;
}

.create_quiz_inner_filler {
  flex: 1; 
}


.add_quiz_button_delete, .add_quiz_button_save{
  background-color: #007bff;
  color: #fff;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bolder;
  margin: 10px;
}
.create_quiz_main_area_option_correct{
  width: 100px;
}

.create_quiz_main_area_points_container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.create_quiz_main_area_points_input{
  margin-right: 20px;
  width: 100px;
  text-align: center;
}