.login_page_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.login_page {
  margin: auto;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.login_page h2 {
  margin-bottom: 20px;
}

.login_form_group {
  margin-bottom: 20px;
}

.login_label {
  display: block;
  margin-bottom: 5px;
}

.login_form_control {
  /* width: 100%; */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login_button:hover {
  background-color: #0056b3;
}

.login_p {
  margin-top: 20px;
  text-align: center;
}

.login_p a {
  color: #007bff;
  text-decoration: none;
}

.login_p a:hover {
  text-decoration: underline;
}
