.intitiate_create_quiz_container{
  width: 100vw;
  height: 100vh;
  display: flex;
}

.initiate_create_quiz_inner_container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.intitiate_create_quiz_container h2 {
  margin-bottom: 20px;
  text-align: center;
}
.initiate_create_quiz_label {
  display: block;
  margin-bottom: 5px;
}

.initiate_create_quiz_form {
  margin-bottom: 20px;
}
.intitiate_create_quiz_input_container {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.intitiate_create_quiz_button_container {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}


@media (max-width:600px){
  
}