.leaderboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 20px;
}

.leaderboard_inner_container {
  margin: auto;
  /* height: 100vh; */
  min-width: 350px;
  /* background-color: #847aac; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  max-width: 800px;
  border: 2px solid #ccc;
  border-radius: 20px;  
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.leaderboard_navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #5D89FF;
  border: 3px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
}


.leaderboard_close_button {
  width: 100px;
  height: 50px;
  background-color: #f55e77;
  border: 0;
  border-bottom: 3px solid #c0506a;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.leaderboard_close_button:hover {
  background-color: #f55e77ad;
  border-bottom: 1px solid #f55e77ad;
}

.leaderboard_data_container {
  height: 100%;
  display: flex;
  align-items: center;
  /* overflow-y: auto; */
}

.leaderboard_row,
.leaderboard_first_row {
  margin: 10px;
}

.leaderboard_table {
  width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  color: #141a39;
  cursor: default;
  border: 3px solid #ccc;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
  
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

.leaderboard_row:hover {
  background-color: rgb(106, 106, 230);
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

tr:nth-child(odd) {
  background-color: #f5f1f1d6;
}

/* tr:nth-child(1) {
  background-color: rgb(106, 106, 230);
} */
        
td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 0rem 2rem;
  position: relative;
}

.leaderboard_number {
  width: 1rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: left;
}

.leaderboard_name {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.leaderboard_points {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.leaderboard_points:first-child {
  width: 10rem;
}

/* 

.board .leaderboard {
  margin: 1em;
}

.board .duration {
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: xxx-large;
  font-weight: bolder;
}

.board .duration > button {
  border: 1px solid var(--color-light);
  padding: 0.5em 2em;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
}

.board .duration > button:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

#profile {
  display: flex;

  margin-top: 3em;
}

#profile .flex {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  text-align: left;
  margin-bottom: 2em;
  border: 3px solid;
  align-items: center;
}

#profile .flex .item {
  display: flex;
  align-items: center;
}

#profile .flex .info {
  padding: 1em;
}

.text-dark {
  color: var(--color-dark);
}

.leaderboard_index {
  margin: 5px;
  margin-left: 15px;
} */

/* * {
    font-size: 62, 5%;
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: #fbfaff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  main {
    width: 40rem;
    height: 43rem;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
  }
  
  #header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
  }
  
  .share {
    width: 4.5rem;
    height: 3rem;
    background-color: #f55e77;
    border: 0;
    border-bottom: 0.2rem solid #c0506a;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .share:active {
    border-bottom: 0;
  }
  
  .share i {
    color: #fff;
    font-size: 2rem;
  }
  
  h1 {
    font-family: "Rubik", sans-serif;
    font-size: 1.7rem;
    color: #141a39;
    text-transform: uppercase;
    cursor: default;
  }
  
  #leaderboard {
    width: 100%;
    position: relative;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    color: #141a39;
    cursor: default;
  }
  
  tr {
    transition: all 0.2s ease-in-out;
    border-radius: 0.2rem;
  }
  
  tr:not(:first-child):hover {
    background-color: #fff;
    transform: scale(1.1);
    -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
    box-shadow: 0px 5px 15px 8px #e4e7fb;
  }
  
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(1) {
    color: #fff;
  }
  
  td {
    height: 5rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    position: relative;
  }
  
  .number {
    width: 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: left;
  }
  
  .name {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .points {
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .points:first-child {
    width: 10rem;
  }
  
  .gold-medal {
    height: 3rem;
    margin-left: 1.5rem;
  }
  
  .ribbon {
    width: 42rem;
    height: 5.5rem;
    top: -0.5rem;
    background-color: #5c5be5;
    position: absolute;
    left: -1rem;
    -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
    box-shadow: 0px 15px 11px -6px #7a7a7d;
  }
  
  .ribbon::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    left: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
  }
  
  .ribbon::after {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    bottom: -0.8rem;
    right: 0.35rem;
    transform: rotate(45deg);
    background-color: #5c5be5;
    position: absolute;
    z-index: -1;
  }
  
  #buttons {
    width: 100%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  
  .exit {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #7e7f86;
    border: 0;
    background-color: #fff;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .exit:hover {
    border: 0.1rem solid #5c5be5;
  }
  
  .continue {
    width: 11rem;
    height: 3rem;
    font-family: "Rubik", sans-serif;
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #5c5be5;
    border: 0;
    border-bottom: 0.2rem solid #3838b8;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .continue:active {
    border-bottom: 0;
  }
  
  @media (max-width: 740px) {
      * {
        font-size: 70%;
      }
  }
  
  @media (max-width: 500px) {
      * {
        font-size: 55%;
      }
  }
  
  @media (max-width: 390px) {
      * {
        font-size: 45%;
      }
  } */
