.landing_page{
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/images/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing_page_nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}


.landing_page_heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bolder;
  font-size: 3rem;
  color: white;
}

.landing_page_quiz_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}



.landing_page_quiz_buttons_create,
.landing_page_quiz_buttons_join {
  min-width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* border: 2px solid white;
  border-radius: 10%; */
  font-weight: bolder;
  color: white;
  padding: 10px;
}

.landing_page_quiz_buttons_create:hover,.landing_page_quiz_buttons_join{
  cursor: pointer;
}

.landing_page_quiz_buttons_create img,
.landing_page_quiz_buttons_join img {
  max-width: 50px;
  margin-bottom: 5px;
}


.landing_page_main_area{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_page_info{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  text-align: center;
}


@media (max-width:600px){
  .landing_page_nav{
    justify-content: center;
  }
  .navbar.open_toggle{
      left:0;
  }
  
}