.create_quiz_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction:  column;
  background-size: cover;
}

.create_quiz_navbar{
  margin: 20px;
}
.create_quiz_inner_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.create_quiz_sidebar {
  position: fixed;
  left: 0px;
  z-index: 101;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  bottom: unset;
  width: 15rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
  padding-top: 0px;
}

.create_quiz_main_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}


