/* CreateQuizNavbar.css */
.create_quiz_navbar_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.create_quiz_navbar_option{
  font-size: large;
  font-weight: bold;
  text-align: center;
}
.create_quiz_navbar_schedule {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.create_quiz_navbar_userName , .create_quiz_navbar_title{
  display: flex;
  flex-wrap: wrap;
}
.create_quiz_navbar_title p, .create_quiz_navbar_userName p {
  text-decoration: none;
  margin: 0px;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
}



.launch_quiz {
  background-color: #007bff;
  color: #fff;
  border: 1px solid white;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bolder;
}


