  .play_quiz_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .play_quiz_navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }

  .play_quiz_title {
    margin: 0.5rem;
    color: white;
    font-size: 3rem;

  }

  .play_quiz_test_name{
    margin: 0.5rem;
    color: white;
    font-size: 3rem;
    
  }

  .play_quiz_user_info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .play_quiz_user_info h2{
    color: white;
  }

  .play_quiz_countdown {
    margin: 10px;
  }

  .play_quiz_main_container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .play_quiz_question_container {
    margin-bottom: 20px;
  }

  .play_quiz_question_textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 10px;
  }

  .play_quiz_options input {
    width: 100%;
    margin-bottom: 10px;
  }


  .play_quiz_submit_button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }

  .play_quiz_submit_button:hover {
    background-color: #0056b3;
  }


  .play_quiz_question_title {
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  
  .play_quiz_question_text {
    color: white; /* Set question text color to white */
    font-size: 1.2rem;
    padding: 20px;
    border: 5px solid #ccc;
    font-weight: bolder;
  }
  

  .play_quiz_options {
    display: flex;
    flex-direction: column;
  }

  .play_quiz_option {
    color: white; /* Set option text color to white */
    padding: 20px;
    border: 5px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
    font-weight: bolder;
  }
  

  .play_quiz_option.selected {
    background-color: #007bff;
    color: #fff;
  }

  .play_quiz_option.correct {
    background-color: green;
    color: #fff;
  }

  .play_quiz_option.wrong {
    background-color: red;
    color: #fff;
  }

  .play_quiz_points {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: white; /* Set points text color to white */
  }
  
  .play_quiz_points_box {
    padding: 10px;
    margin-left: 10px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
  }

  .play_quiz_countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .play_quiz_countdown_box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #0029ff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .play_quiz_countdown_text {
    color: #fff;
    font-size: 1.5rem;
  }

  .play_quiz_countdown_box p{
    font-weight: bolder;
    margin: 0px;
  }

  .turn_submit_off{
    background-color: grey;
  }

  