.join_quiz_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.join_quiz_inner_container{
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}

.join_quiz_form_container {
  display: flex;
  flex-direction: column;
}

.join_quiz_inner_container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.join_quiz_input_container {
  width: calc(100% - 20px);
  min-height: 2.375rem;
  text-align: center;
  color: rgb(51, 51, 51);
  outline: none;
  font-size: 1rem;
  border-radius: 4px;
  margin: 10px;
}

.join_quiz_button_container {
  background: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  text-align: center;
  min-height: 48px;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}


